.page__main{
  font-family: sans-serif;
}

.main__searcher{
  text-align: center;
  padding: 20px;
}

.main__searcher-title{
  margin-top: 0;
  font-size: 24px;
}

.main__searcher-box{
  display:flex;
  flex-flow: column;
  align-items: center;
  @media all and (min-width: 768px){
    flex-flow: row nowrap;
    justify-content: center;
  }
}

.main__searcher-input{
  width: 180px;
  border: 0;
  box-shadow: 0px 1px 0.2px $color-grey;
  height: 24px;
  margin-bottom: 8px;
  @media all and (min-width: 768px){
    width: 280px;
    margin-bottom: 0;
    margin-right: 8px;
  }
}

.main__searcher-btn{
  background-color: $color-darkpink;
  color: $color-white;
  font-weight: bold;
  height: 24px;
  width: 60px;
}

.main__results{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.main__results-list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 380px;
  grid-gap: 20px 20px;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  @media all and (min-width: 768px){
    grid-template-columns: 1fr 1fr;
  }
  @media all and (min-width: 1200px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.list-element{
  background: $color-softpink;
  color: $color-darkpink;
  text-align: center;
  padding: 5px;
  height: 380px;
  width: 250px;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
  position: relative;
}

.favorite-btn{
  position: absolute;
  right: 0;
  transform: translateX(50%);
  font-size: 28px;
}

.list-element-image{
  width: 180px;
  margin-top: 20px;
}

.list-link{
  text-decoration: none;
  color: inherit;
}

.list-element-title{
  margin: 10px 0 0;
  font-size: 20px;
  line-height: 18px;
}

.list-element-score{
  margin-top: 8px;
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.score-number{
   display: inline-block;
   margin: 0;
   margin-right: 10px;

}
.score-bar-container{
  background-color: $color-grey;
  display: inline-block;
  height: 20px;
  width: 180px;
  margin-left: 10px;
}

.score-bar{
  height: 20px;
  background-color: $color-darkpink;
}

.favorite-element{
  background: $color-orange;
  border: 2px solid $color-darkpink;
}

.error-message{
border: 2px solid $color-darkpink;
background-color: $color-darkpinkO;
color: $color-darkpink;
font-weight: bold;
font-size:20px;
display: flex;
justify-content: center;
align-items: center;
grid-column-start: 2;
grid-column-end: 4;
padding-left: 50px;
padding-right: 50px;
}

.hidden{
  display: none;
}
