.page__main{

}
.main__searcher{

}
.main__searcher-title{

}
.main__searcher-input{

}
.main__searcher-btn{

}
.main__results{

}
.main__results-list{
  list-style: none;
}

.list-element{
  background: pink;
  color: deeppink;
}

.favorite-element{
  background: orange;
  border: 2px solid deeppink;
}
